.btn-sm {
  padding: .1rem .3rem;
  font-size: .8rem;
  line-height: 1.3;
}

.bootstrap-switch.bootstrap-switch-small > .bootstrap-switch-container > .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small > .bootstrap-switch-container > .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small > .bootstrap-switch-container > .bootstrap-switch-label {
  padding: .1rem .3rem;
  font-size: .8rem;
  line-height: 1.3;
}

.table-fixed-header thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white; /* Ensure the header has a background color */
}
.scrollable-table-container {
  max-height: 70vh;
  max-width: 95vw;
  overflow-x: auto;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}
