.table-responsive {
	overflow-x: auto;
}
.table-fixed-header thead tr th {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white; /* Ensure the header has a background color */
}
.scrollable-table-container {
	max-height:70vh; /* Adjust the height as needed */
	overflow-y: auto; /* Enable vertical scrolling */
}
.bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
	width: 40px; /* Adjust the width here */
}
.bootstrap-switch {
	min-width: 100px; /* Adjust the width of the switch container */
}