<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<title>Syllabus</title>
	</head>
	<body>
		<div class="container mt-5" id="myTab" role="tablist">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" id="syllabus-tab" href="?url_suffix={{url_suffix}}&current_tab=syllabus" data-tabname="syllabus" role="tab">Syllabus</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="graveyard-tab" href="?url_suffix={{url_suffix}}&current_tab=graveyard" data-tabname="graveyard" role="tab">Graveyard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="todo-tab" href="?url_suffix={{url_suffix}}&current_tab=todo" data-tabname="todo" role="tab">To Do</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="bugs-tab" href="?url_suffix={{url_suffix}}&current_tab=bugs" data-tabname="bugs" role="tab">Bugs</a>
				</li>
			</ul>
		</div>
		<div id="tab-content-container" class="container tab-content mt-3">
			<!-- AJAX-loaded content will appear here -->
		</div>
		
		<!-- Include the external JavaScript file -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='scripts.js') }}"></script>
	</body>
</html>